.terms, body { font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
code {
    font-family: "Source Code Pro", "Fira Mono", Monaco, Menlo, "Lucida Console", "Liberation Mono", monospace;
    font-size: 0.8em;
}
.article {
    font-family: "Source Serif Pro", Georgia, "Bitstream Charter", "Droid Serif", "Liberation Serif", serif;
    font-size: 1.1em; 
}