html { 
    height: 100%; 
    box-sizing: border-box; 
}
main { hyphens: auto; }
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    position: relative;
    line-height: 1.4;
    padding: 0 10px 3rem 10px;
    min-height: 100%;
}
.terms, body { font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Source Sans Pro", Roboto, "Helvetica Neue", sans-serif; }
.terms { font-size: medium; }
code, pre { background-color: whitesmoke; } 
code {
    padding: 1px 3px;
    font-family: "SF Mono", "Segoe UI Mono", "Source Code Pro", "Fira Mono", "Roboto Mono", Menlo, Courier, monospace;
    font-size: small;
}
pre {
    overflow-x: auto;
    padding: 8px 12px;
}
pre code { padding: initial; }
blockquote {
    border-left: 3px solid lightgray;
    padding: 1px 1em 1px;
}
hr { border: 1px solid lightgray; }
img, iframe, video { max-width: 100%; }
.title, h1, h2, h3, h4, h5 { line-height: 1; }
.title { 
    text-align: center;
    margin: 0; 
}
article { 
    max-width: 600px; 
    font-family: "Source Serif Pro", Georgia, "Bitstream Charter", "Droid Serif", "Liberation Serif", serif;
    font-size: large;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    line-height: 1.2;
    text-align: center;
}
.menu { 
    list-style-type: none;
    padding: 1px;  
    overflow: hidden;
    
}
.menu, .menu a {
    background: black;
    color: white; 
}
.menu, footer, body { margin: 0 auto; max-width: 1000px; }
article, .list  { margin: 0.5em auto; }
.menu li { float: left; }
.menu li.right { float: right; }
.menu a {
    display: block;
    padding: 2px 10px;
    font-size: larger;  
    line-height: 1;
    text-decoration: none;
    border-right: 1px solid;
}
.menu a:hover { background: white; color: black; }
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
/* Some improvements for smaller screens. */
@media screen and (max-width: 800px) { .grid { grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); }}
@media screen and (max-width: 500px) { 
    .menu li.right, .menu li { float: none; } 
    .grid { grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
}
.date { background-color: lavender; }
article .grid { 
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
