html { height: 100%; box-sizing: border-box; }
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    position: relative;
    line-height: 1.4;
    padding: 0 10px 3rem 10px;
    min-height: 100%;
    margin: 0 auto;
}
body, footer { max-width: 1000px; }
footer {
    margin: auto;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px 1rem 10px;
    line-height: 1.2;
    text-align: center;
}
code { padding: 1px 3px; }
code, pre { background: whitesmoke; }
pre {
    overflow-x: auto;
    padding: 8px 12px;
}
pre code { padding: initial; }
main { hyphens: auto; }
blockquote {
    border-left: 3px solid lightgray;
    padding: 1px 1em 1px;
}
hr { border: 1px solid lightgray; }
img, iframe, video { max-width: 100%; }
.title, h1, h2, h3, h4, h5 { line-height: 1; }
.title, .listHeading { text-decoration: underline; }
.title { margin: 0; }
.article { 
    max-width: 650px; 
    margin: auto 0;
}
.menu { 
    list-style-type: none;
    padding: 0;  
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0.5em;
}
.menu li { float: left; }
.menu li.right { float: right; }
@media screen and (max-width: 500px) { .menu li.right, .menu li { float: none; } }
.menu a:hover:not(.active) { color: blue; }
.menu a {
    color: black; 
    display: block;
    padding: 2px 10px 2px 0;
    font-size: larger;  
    line-height: 1;    
}