{{ partial "header.html" . }}

{{ if .GetParam "hasMath"}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
{{ end }}

<article>
<h1 class="title">{{ .Title }}</h1>
<p class="terms">
  {{ if (gt .Params.date 0) }}
    <code class=date><time datetime="{{ .Date.Format "2006-01-02 15:04" }}">{{ .Date.Format "2006-01-02" }}</time></code>
  {{ end }}
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  | {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }} 
  {{ end }}
  {{ end }}
  | Last modification: {{ .Lastmod }}
</p>

{{ .Content }}

</article>

{{ if .GetParam "hasMath"}}
  <script>renderMathInElement(document.body);</script>
{{ end }}

{{ partial "footer.html" . }}
