{{ partial "header.html" . }}

<article>
  <h1 class="title">{{ .Title }}</h1>
  <p class="terms">
    {{ if (gt .Params.date 0) }}
      <code class=date><time datetime="{{ .Date.Format "2006-01-02 15:04" }}">{{ .Date.Format "2006-01-02" }}</time></code>
    {{ end }}
    {{ range $i := (slice "categories" "tags") }}
    {{ with ($.Param $i) }}
    | {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }} 
    {{ end }}
    {{ end }}
  </p>

  {{ .Content }}

  {{ if or .Params.math .Site.Params.math }}
  {{ partial "math.html" . }}
  {{ end }}
</article>

{{ partial "footer.html" . }}
