<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if not .IsHome }}
      <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }}
    {{if .IsHome }}
      <title>{{ .Title }}</title>
    {{ end }}
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <nav>
    <ul class="menu">
      {{ range $i := .Site.Params.header }}
        <li>{{ $i | markdownify }}</li>
      {{ end }}   
      {{ range $i := .Site.Params.header_right }}
        <li class="right">{{ $i | markdownify }}</li>
      {{ end }}      
    </ul>
  </nav>
  <body>
